@model IEnumerable<Health_Consulting_And_eChanneling.Models.ViewModels.Doctors.DoctorViewModel>

@{
    ViewBag.Title = "Doctors";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2 class="sub_page_title">Doctors</h2>
@using PagedList.Mvc;
@using PagedList;

<select id="SelectDoctor" name="SelectDoctor">
    <option value="0">All</option>
    @foreach (var item in ViewBag.SpecialistArea)
    {
        if (ViewBag.SelectedCat == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
    }
</select>
<br /><br /><br />






<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            RegIster Number
        </th>
        <th>
            Contact
        </th>
        <th>
            Image
        </th>
        <th>
            About
        </th>
        <th>
            Specialist
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>
                @item.FirstName @item.LastName
            </td>
            <td>
                @item.RegNumber
            </td>
            <td>
                @item.ContactNumber
            </td>
            <td>
                <a href="/administrator/Doctors/EditDoctor/@item.Id">
                    <img src="/Images/Uploads/Doctors/@item.Id/Thumbs/@item.Image" width="100" height="100"/>
                </a>
            </td>
            <td>
                @item.About
            </td>
            <td>
                @item.SpecialistAreaName
            </td>
            <td>
                @Html.ActionLink("Edit", "EditDoctor", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteDoctor", new { id = item.Id }, new { @class = "delete" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Doctors", new { page, catId = ViewBag.SelectedCat }))
@section scripts
    {

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(function () {

            $("#SelectDoctor").on("change", function () {
                var url = $(this).val();

                if (url) {
                    window.location = "/administrator/Doctors/Doctors?catId="+url;
                }
                return false;
            });
            ////////////////////////////////////////////////////////////////////////
            $("a.delete").click(function () {
                if (!confirm("Are you sure you need to delete this"))
                    return false;
            });
            ////////////////////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////
        });
    </script>
}
