@model Health_Consulting_And_eChanneling.Models.ViewModels.Doctors.DoctorViewModel

@{
    ViewBag.Title = "Edit Doctor";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2 class="sub_page_title">Edit Doctor</h2>
<style>
    input#ImageName {
        display: none;
    }
</style>
@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

@using (Html.BeginForm("EditDoctor", "Doctors", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 e-medi-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 e-medi-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2 e-medi-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SLMC_Reg_No, htmlAttributes: new { @class = "control-label col-md-2 e-medi-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SLMC_Reg_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SLMC_Reg_No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2 e-medi-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2 e-medi-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-md-10">
                    <img src="/Images/Uploads/Doctors/@Model.Id/Thumbs/@Model.Image" alt="@Model.Image" />
                    <br /><br />
                    <img id="imgpreview" src="#" />
                    <br /><br />
                    <div class="col-md-10">
                        <input type="file" name="file" id="ImageUpload" />
                    </div>


                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.About, htmlAttributes: new { @class = "control-label col-md-2 e-medi-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.About, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpecialistAreaName, htmlAttributes: new { @class = "control-label col-md-2 e-medi-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SpecialistAreaId, Model.SpecialistArea, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SpecialistAreaName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts
    {
    <script>
        $(function () {

            function readURL(input) {
                if (input.files && input.files[0]) {

                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("img#imgpreview")
                            .attr("src", e.target.result)
                            .width(200)
                            .height(200);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#ImageUpload").change(function () {
                readURL(this);
            });
            //////////////////////////////////////////////////////////////////
        });
    </script>
}
