<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Health Consulting & eChanneling</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Administrator/dashboard" class="navbar-brand">Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Administrator/Pages">Pages</a></li>
                    <li><a href="~/Administrator/MediService/MedicalServiceList">Medical Services</a></li>
                    <li><a href="~/Administrator/News/NewsList">News</a></li>
                    <li><a href="~/Administrator/Doctors/view-all-registed-doctors-list">Doctors</a></li>
                    <li><a href="~/Administrator/DoctorSpecialist/all-doctor-specialist-categories">Specialist Cat.</a></li>
                    <li><a href="/Administrator/Shop/Products">Products</a></li>
                </ul>
                <ul class="navbar-right">
                    <li><a href="/" class="navbar-brand" target="_blank">(Adimin Name)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 50px;">
                @RenderBody()
                <hr />             
            </div>
            <footer>
                <p>&copy; @DateTime.Now.Year All Rights Reserved- Health Consulting & e-Channeling</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>


