<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -hConsulting & eChanneling</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    @Styles.Render("~/Content/healhConsultCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body">
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="/" class="scrollto">
                    <img src="~/Content/images/logox.png" />
                </a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul id="SideList">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li id="MediService"><a href="~/Administrator/MediService/MedicalServiceList">Medical Services</a></li>
                        <li id="News"><a href="~/Administrator/News/NewsList">News</a></li>
                        <li id="Doctors"><a href="~/Administrator/Doctors/Doctors">Doctors</a></li>
                        <li id="Users"><a href="~/Administrator/Users/Users">Users</a></li>
                        <li id="PecialList"><a href="~/Administrator/DoctorSpecialist/all-doctor-specialist-categories">Specialist Cat.</a></li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Doctor"))
                    {
                        <li id="Users"><a href="~/Administrator/Users/Users">Users</a></li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/account/logout">Logout</a></li>
                    }
                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 100px;">
                @RenderBody()
                <hr />
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/healhConsultJs")
    @RenderSection("scripts", required: false)
    <script>
            $(function () {
                if (window.sessionStorage.activeMenuItem) {
                    $("#" + sessionStorage.activeMenuItem).addClass('active');
                }
            });

            $('ul#SideList li').click(function () {
                window.sessionStorage.activeMenuItem = this.id;
            });

    </script>
</body>
</html>


