@model Health_Consulting_And_eChanneling.Models.ViewModels.News.NewsViewModel

@{
    ViewBag.Title = "DetailsNews";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Priview</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img style="border-radius:50%" src="~/Content/News/Images/@Model.Id/Thumbs/@Model.Image" alt="@Model.Image" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-success btn-xs" href="/Administrator/News/NewsList">Back</a>
    </div>
}


