<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Doctors View</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    @Styles.Render("~/Content/healhConsultCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body" style="background-image:url('../../../../Images/search-container-img.jpg'); background-repeat:no-repeat;background-size:cover">
    <header id="header" class="fixed-top" style=" background: #c7ad28;">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="/" class="scrollto">
                    <img src="~/Content/images/logox.png" />
                </a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul id="SideList">
                    <li id="appointment"><a href="~/medical-services/all-services">Appointment</a></li>
                    <li id="Users"><a href="~/Doctors/UserMedicalHostory/Users">Users</a></li>
                    @if (Request.IsAuthenticated && User.IsInRole("Doctor"))
                    {
                        <li id="Users"><a href="~/Doctors/Account/doctor-profile">Doctor Profile</a></li>
                        <li><a href="/account/logout">Logout</a></li>
                    }

                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 100px;">
                @RenderBody()
                <hr />
            </div>
            <footer>
                <p>&copy; @DateTime.Now.Year All Rights Reserved- Health Consulting & e-Channeling</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/healhConsultJs")
    @RenderSection("scripts", required: false)
    <script>
            $(function () {
                if (window.sessionStorage.activeMenuItem) {
                    $("#" + sessionStorage.activeMenuItem).addClass('active');
                }
            });

            $('ul#SideList li').click(function () {
                window.sessionStorage.activeMenuItem = this.id;
            });

    </script>
</body>
</html>


