<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -hConsulting & eChanneling</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    @Styles.Render("~/Content/healhConsultCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="/" class="scrollto">
                    <img src="~/Content/images/logox.png" />
                </a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul id="SideList">
                    <li id="home"><a href="/">Home</a></li>
                    <li id="doctor"><a href="~/our-doctors/all-doctors">Doctors</a></li>
                    <li id="service"><a href="~/medical-services/all-services">Medical Service</a></li>
                    <li id="appointment"><a href="~/medical-services/all-services">Appointment</a></li>
                    <li id="news"><a href="~/important-news/all-news-articals">News</a></li>



                    <li class="drop-down">
                        <a>Account Info</a>
                        <ul>
                            <li>
                                @if (Request.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("Doctor")))
                                {
                                    if (ViewBag.Title == "User Profile")
                                    {
                                    <li class="active">@Html.Action("UserNavPartial", "Account")</li>
                                }
                                else
                                {
                                    <li>@Html.Action("UserNavPartial", "Account")</li>
                                }
                            }
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            <li><a href="/account/logout">Logout</a></li>
                        }
                        else
                        {
                            if (ViewBag.Title == "Login")
                            {
                                <li class="active"><a href="/account/login">Login</a></li>
                            }
                            else
                            {
                                <li><a href="/account/login">Login</a></li>
                            }

                        }
                        <li><a href="#">Drop Down 3</a></li>
                    </ul>
                    </li>
                    </ul>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <ul class="nav navbar-nav navbar-right adminarea">
                            <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "Administrator" }, null)</li>
                        </ul>
                    }

                </nav><!-- .main-nav -->

            </div>
        </header><!-- #header -->
        @if (ViewBag.Title == "Home")
        {
            <div class="container home_heading">
                <h4 style="text-align:center">eMediHealth</h4>
            </div>
            <br /><br />
            <div id="home_section_one" class="container home_section_one animated fadeIn bounce">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive home_img_list" src="~/Content/images/download.jpg" />
                    </div>
                    <div class="col-md-8">
                        <h4>Doctors</h4>
                        <button class="btn btn-xs btn-info ">more</button>
                    </div>
                </div>
            </div>
            <br />
            <div id="home_section_two" class="container home_section_two animated fadeIn">
                <div class="row">
                    <h3>Hello</h3>
                </div>
            </div>
            <br />
            <div id="home_section_three" class="container home_section_three animated fadeIn">
                <div class="row">
                    <h3>Hello</h3>
                </div>
            </div>
        }
        <!-- #intro -->
        <div class="container body-content section_Indent_Apply">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    @RenderBody()
                </div>
            </div>

            <hr />
        </div>
        <!--==========================
          Footer
        ============================-->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-6 footer-info">
                            <h3>eMediHealth</h3>
                            <p>
                                Find out who we are, what we do and why eMedihealth Care is the leading provider of international health and wellbeing in the world.
                                eMedihealth Care offers health, life and disability insurance and a range of health and protection services to employers and insurance partners worldwide.

                                Globally mobile individuals and families
                            </p>
                        </div>

                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>Contact Us</h4>
                            <p>
                                A108 Adam Street <br>
                                New York, NY 535022<br>
                                United States <br>
                                <strong>Phone:</strong> +1 5589 55488 55<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>

                            <div class="social-links">
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 footer-newsletter">
                            <h4>Our Newsletter</h4>
                            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Subscribe">
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container" style="display:none">
                <div class="copyright">
                    &copy; Copyright <strong>NewBiz</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </footer><!-- #footer -->

        @Scripts.Render("~/bundles/healhConsultJs")
        @RenderSection("scripts", required: false)
        <script>
        $(function () {
            if (window.sessionStorage.activeMenuItem) {
                $("#" + sessionStorage.activeMenuItem).addClass('active');
            }
        });

        $('ul#SideList li').click(function () {
            window.sessionStorage.activeMenuItem = this.id;
        });

        </script>
    </body>
</html>

