<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -hConsulting & eChanneling</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    @Styles.Render("~/Content/healhConsultCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image:url('../Images/login_register_background_img_change.jpg'); background-repeat:no-repeat;background-size:cover;background-attachment: fixed;">
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="/" class="scrollto">
                    <img src="~/Content/images/logox.png" />
                </a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul id="SideList">
                    <li id="home"><a href="/">Home</a></li>
                    <li id="doctor"><a href="~/our-doctors/all-doctors">Doctors</a></li>
                    <li id="service"><a href="~/medical-services/all-services">Medical Service</a></li>
                    <li id="appointment"><a href="~/medical-services/all-services">Appointment</a></li>
                    <li id="news"><a href="~/important-news/all-news-articals">News</a></li>



                    <li class="drop-down">
                        <a>Account Info</a>
                        <ul>
                            <li>
                                @if (Request.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("Doctor")))
                                {
                                    if (ViewBag.Title == "User Profile")
                                    {
                                    <li class="active">@Html.Action("UserNavPartial", "Account")</li>
                                }
                                else
                                {
                                    <li>@Html.Action("UserNavPartial", "Account")</li>
                                }
                            }
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            <li><a href="/account/logout">Logout</a></li>
                        }
                        else
                        {
                            if (ViewBag.Title == "Login")
                            {
                                <li class="active"><a href="/account/login">Login</a></li>
                            }
                            else
                            {
                                <li><a href="/account/login">Login</a></li>
                            }

                        }
                        <li><a href="#">Drop Down 3</a></li>
                    </ul>
                    </li>
                    </ul>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <ul class="nav navbar-nav navbar-right adminarea">
                            <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "Administrator" }, null)</li>
                        </ul>
                    }

                </nav><!-- .main-nav -->

            </div>
        </header><!-- #header -->
        @if (ViewBag.Title == "Home")
        {
            <div class="container home_heading">
                <h4 style="text-align:center">eMediHealth</h4>
            </div>
            <br /><br />
            <div id="home_section_one" class="container home_section_one animated fadeIn bounce">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive home_img_list" src="~/Content/images/download.jpg" />
                    </div>
                    <div class="col-md-8">
                        <h4>Doctors</h4>
                        <button class="btn btn-xs btn-info ">more</button>
                    </div>
                </div>
            </div>
            <br />
            <div id="home_section_two" class="container home_section_two animated fadeIn">
                <div class="row">
                    <h3>Hello</h3>
                </div>
            </div>
            <br />
            <div id="home_section_three" class="container home_section_three animated fadeIn">
                <div class="row">
                    <h3>Hello</h3>
                </div>
            </div>
        }
        <!-- #intro -->
        <div class="container body-content section_Indent_Apply">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    @RenderBody()
                </div>
            </div>

            <hr />
        </div>
        <!--==========================
          Footer
        ============================-->
        @Html.Action("FooterPartialView", "Home")

        @Scripts.Render("~/bundles/healhConsultJs")
        @RenderSection("scripts", required: false)
        <script>
            $(function () {
                if (window.sessionStorage.activeMenuItem) {
                    $("#" + sessionStorage.activeMenuItem).addClass('active');
                }
            });

            $('ul#SideList li').click(function () {
                window.sessionStorage.activeMenuItem = this.id;
            });

        </script>
    </body>
</html>

